<!DOCTYPE html>
<html>
<head>
	<title>Movie Search App</title>
	<link rel="stylesheet" type="text/css" href="/app.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<body>
	<nav id="navTop" class="navbar navbar-default">
		<div id="containerText" class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/"><i class="fa fa-film" aria-hidden="true"></i> YMDb</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/chart">Chart</a></li>
					<% if(!currentUser) {%>
						<li><a href="/login">Login</a></li>
						<li><a href="/register">Sign Up</a></li>
					<%} else { %>
						<li><a href="#">Signed in as <%=currentUser.username%></a></li>	
						<li><a href="/Logout">Logout</a></li>
					<% } %>		
				</ul>
			</div>
		</div>
	</nav>

