<% include partials/header%>

<h1>Movie Database API</h1>

<form action="/results" method="GET">
	<input type="text" name="search" placeholder="Enter Movie Title Here" >
	<input type= "submit">
</form>


<% include partials/footer%>




