<% include partials/header%>

<h1>Results Page</h1>

<form action="/results" method="GET">
	<input type="text" name="search" placeholder="Enter Movie Title Here" >
	<input type= "submit">
</form>


<div id="resultsRow" class="row text-center">
		<% data["Search"].forEach(function(movie) { %>
			<div class="col-md-2 col-sm-6">
				<div class="thumbnail">
					<img src="<%=movie.Poster%>" alt="">
					<div class="caption">
						<strong>
							<%= movie.Title%>
						</strong> 
						- (<%=movie.Year %> )
					</div>
				</div>
			</div>
		<%});%>
</div>

<a href="/">Search Again</a>


<% include partials/footer%>