<% include partials/header%>

<h1>SHOW PAGE</h1>

<h2><%= movie.title%></h2>

<img src="<%=movie.poster%>" alt="">'
<p><%=movie.year%></p>
<p><%=movie.description%></p>




<a class="btn btn-success" href="/chart">Back</a>
<% include partials/footer%>