<% include partials/header%>


<h1>YMDB TOP MOVIE CHART</h1>




<% allMovies.forEach(function(movie) {%>
	<p><%= movie.title%></p>
	<p><%= movie.year%></p>
	<img src="<%= movie.poster%>" alt="">
	<p><%= movie.description%></p>
<%});%>





<% include partials/footer%>