#navTop {
	background-color: #222222;	
}

#resultsRow {
	display:flex; 
	flex-wrap: wrap;
}

#newSearchInput {
	width: 50%;
	margin: 35px auto;
}

.moviePoster {
	height: 317px;
	width: 214px;
}

.thumbnail img {
	height: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

#delete-form {
	display: inline;
}